<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819268440561-qhvgocdpbkshafroude9rpqibb5rrsld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819268440561-qhvgocdpbkshafroude9rpqibb5rrsld</string>
	<key>API_KEY</key>
	<string>AIzaSyDKl4BgN7ga1iuXSqK4wCtQ34qBww0GoRw</string>
	<key>GCM_SENDER_ID</key>
	<string>819268440561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tobetch.flutterPlayground</string>
	<key>PROJECT_ID</key>
	<string>tobetch-flutter-playground</string>
	<key>STORAGE_BUCKET</key>
	<string>tobetch-flutter-playground.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819268440561:ios:84a5449f47b795cf383450</string>
</dict>
</plist>